
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h3 class="page-title">
        File
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Content Management</li>
            <li class="breadcrumb-item active" aria-current="page">Files</li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-lg-between justify-content-center row">
    <a href="@Url.Action("Create", "File")" class="btn btn-gradient-success col-6 col-md-2 m-2">Create new</a>
    <div class="input-group col-10 col-md-4">
        <div class="input-group-prepend">
            <button class="input-group-text btn btn-gradient-primary text-white" disabled>Results per page</button>
        </div>
        <input onchange="RefreshList($('#activePage'))" type="number" class="form-control text-center" id="numberOfResults" placeholder="e.g. 20" value="5">

    </div>
</div>

<br />

<hr />

<div id="list" class="h-auto">
    <div class="d-flex justify-content-center mt-5">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" defer>

    $(document).ready(function () {
        RefreshList();
    });

    function RefreshList(page) {
        if (page == null)
            page = 1;
        numberOfResults = document.getElementById("numberOfResults").value;
        $.ajax({
            type: "GET",
            url: "/Management/File/List",
            dataType: "html",
            data: "page=" + page + "&numberOfResults=" + numberOfResults,
            success: function (data) {
                document.getElementById("list").innerHTML = data;
            }
        });
    }

    function ConfirmDelete(id) {
        bootbox.confirm({
            message: '<br />Do you confirm deleting this file permanently?',
            backdrop: true,
            centerVertical: true,
            buttons: {
                confirm: {
                    label: 'Confirm',
                    className: 'btn-gradient-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-light'
                }
            },
            callback: function (result) {
                if (result == true) {

                    $.ajax({
                        type: "GET",
                        url: "/Management/File/Delete",
                        dataType: "application/json",
                        data: "id=" + id,
                        success: function (data) {
                        }
                    });
                    setTimeout(function () {
                        RefreshList($('#activePage'));
                    }, 1000);

                }
            }
        });
    }
        
    function Details(id) {
        $.ajax({
            type: "GET",
            url: "/Management/File/Details",
            dataType: "html",
            data: "id=" + id,
            success: function (data) {
                bootbox.alert({
                    message: data,
                    backdrop: true,
                    scrollable: true,
                    size: 'large',
                    centerVertical: true,
                });
            }
        });
    }

    function copyToClipboard(id, buttonId) {
        var element = document.getElementById(id);
        var btn = document.getElementById(buttonId);
        element.select();

        try {
            document.execCommand('copy');
            document.getSelection().collapseToEnd();

        } catch (err) {
            console.log('Oops, unable to copy', err);
        }

        btn.className = "input-group-text btn btn-icon btn-gradient-success text-white";

        setTimeout(function () {
            btn.className = "input-group-text btn btn-icon btn-gradient-info text-white";
        }, 1500);
    }
</script>

