
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <h3 class="page-title">
        Orders
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Orders</li>
        </ol>
    </nav>
</div>

<div class="d-flex justify-content-lg-between justify-content-center row">
    <div class="input-group col-10 col-md-4">
        <div class="input-group-prepend">
            <button class="input-group-text btn btn-gradient-primary text-white" disabled>Results per page</button>
        </div>
        <input onchange="RefreshList($('#activePage'))" type="number" class="form-control text-center" id="numberOfResults" placeholder="e.g. 20" value="5">

    </div>
</div>

<br />

<hr />

<div id="list" class="h-auto">
    <div class="d-flex justify-content-center mt-5">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>

</div>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" defer>

    $(document).ready(function () {
        RefreshList();
    });

    function RefreshList(page) {
        if (page == null)
            page = 1;
        numberOfResults = document.getElementById("numberOfResults").value;
        $.ajax({
            type: "GET",
            url: "/Management/Order/List",
            dataType: "html",
            data: "page=" + page + "&numberOfResults=" + numberOfResults,
            success: function (data) {
                document.getElementById("list").innerHTML = data;
            }
        });
    }

    function Details(id) {
        $.ajax({
            type: "GET",
            url: "/Management/Order/Details",
            dataType: "html",
            data: "id=" + id,
            success: function (data) {
                bootbox.alert({
                    message: data,
                    backdrop: true,
                    scrollable: true,
                    size: 'large',
                    centerVertical: true,
                });
            }
        });
    }

    function ChanegOrderState(id, newState) {
        $.ajax({
            type: "GET",
            url: "/Management/Order/ChangeOrderState",
            dataType: "json",
            data: "id=" + id + "&newState=" + newState,
            success: function (data) {
                toastr.success('Order status changed successfully');
                setTimeout(function () {
                    bootbox.hideAll();
                    RefreshList($('#activePage'));
                }, 2000);
            }
        });
    }

    function CancelOrder(id) {
        bootbox.hideAll();

        bootbox.confirm({
            message: '<br />Do you confirm canceling this order?',
            backdrop: true,
            centerVertical: true,
            buttons: {
                confirm: {
                    label: 'Confirm',
                    className: 'btn-gradient-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-light'
                }
            },
            callback: function (result) {
                if (result == true) {

                    $.ajax({
                        type: "GET",
                        url: "/Management/Order/CancelOrder",
                        dataType: "application/json",
                        data: "id=" + id,
                        success: function (data) {
                            toastr.success('Order canceled successfully');
                        }
                    });
                    setTimeout(function () {
                        RefreshList($('#activePage'));
                    }, 1000);

                }
            }
        });
    }

    function CancelAndRefundOrder(id) {
        bootbox.hideAll();

        bootbox.prompt({
            message: '<br />Do you confirm canceling and refunding this order?',
            placeholder: 'Reason for cancelation and refund',
            callback: function (result) {
                if (result != null) {
                    $.ajax({
                        type: "GET",
                        url: "/Management/Order/CancelAndRefundOrder",
                        dataType: "application/json",
                        data: "id=" + id + "&reason=" + result,
                        success: function (data) {
                            toastr.success('Order canceled successfully and the refund is being processed');
                        }
                    });
                    setTimeout(function () {
                        RefreshList($('#activePage'));
                    }, 1000);
                }
            }
        });
    }

</script>
