@model int


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Blog</span>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="blog-section spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1">
                <div class="blog-sidebar" id="filters">

                    <div class="col-lg-12">
                        <div class="loading-more">
                            <i class="icon_loading"></i>
                            <a>
                                Loading...
                            </a>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-lg-9 order-1 order-lg-2">
                <div class="row" id="list">

                    <div class="col-lg-12">
                        <div class="loading-more">
                            <i class="icon_loading"></i>
                            <a>
                                Loading...
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<input id="blogCategoryId" type="text" hidden value="@Model" />

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript" defer>

    $(document).ready(function () {
        LoadFilters();
    });

    function RefreshList(page) {
        if (page == null || page < 1)
            page = 1;

        blogCategoryId = document.getElementById("blogCategoryId").value;

        $.ajax({
            type: "GET",
            url: "/Blog/List",
            dataType: "html",
            data: "blogCategoryId=" + blogCategoryId + "&page=" + page,
            success: function (data) {
                document.getElementById("list").innerHTML = data;
            }
        });
    }

    function LoadFilters() {
        $.ajax({
            type: "GET",
            url: "/Blog/Filters",
            dataType: "html",
            data: "",
            success: function (data) {
                document.getElementById("filters").innerHTML = data;
                RefreshList();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    function Search() {
        searchString = document.getElementById("searchString").value;

        $.ajax({
            type: "GET",
            url: "/Blog/Search",
            dataType: "html",
            data: "searchString=" + searchString,
            success: function (data) {
                document.getElementById("list").innerHTML = data;
            }
        });
    }

</script>
